.vagrant/
ssh/
certs/
terraform.tfvars
terraform.tfstate*
.terraform/
.terraform*
crash.log
node_modules/
npm-debug.log

setEnv.sh
d.zip
client_secret.json
client_access_token.json
psm_setup_*.json
ubuntu-xenial-16.04-*.log
temp_*
integration.properties

stuff_oci-terraform-oke-installer.zip